# Pandas Series exercises

In [2]:
import pandas as pd
import numpy as np
print(pd.__version__)

1.4.4

# Series creation



## Create an empty pandas Series

In [4]:
pd.Series()

C:\Users\User\AppData\Local\Temp\ipykernel_9120\2031691219.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  pd.Series()

Series([], dtype: float64)

In [7]:
X = [1,5,7,8]
Y = pd.Series(X)
print(Y, type(Y))

0    1
1    5
2    7
3    8
dtype: int64 <class 'pandas.core.series.Series'>

# Given the X pandas Series, name it 'My Numbers'

In [9]:
X = pd.Series([1,5,8,9,7])
X.name = 'My Numbers'
X

0    1
1    5
2    8
3    9
4    7
Name: My Numbers, dtype: int64

# Given the X pandas Series, show its values

In [11]:
X = pd.Series([1,5,8,6,7,5])
X.values

array([1, 5, 8, 6, 7, 5], dtype=int64)

# Series indexation
## Assign index names to the given X pandas Series

In [15]:
X = pd.Series(['A', 'B', 'C', 'D'])
X.index = ['a', 'b', 'c', 'd']
X

a    A
b    B
c    C
d    D
dtype: object

# Given the X pandas Series, show its first element

In [20]:
X = pd.Series(['A', 'B', 'C', 'D'])
X.index = ['a', 'b', 'c', 'd']
print(X[0], '-By Location')
print(X['a'], '-By Index')

A -By Location
A -By Index

# Given the X pandas Series, show its last element

In [21]:
X = pd.Series(['A', 'B', 'C', 'D'])
X.index = ['a', 'b', 'c', 'd']
print(X[-1], '-By Location')
print(X['d'], '-By Index')

D -By Location
D -By Index

# Given the X pandas Series, show all middle elements

In [23]:
X = pd.Series(['A', 'B', 'C', 'D', 'E'])
X.index = ['a', 'b', 'c', 'd', 'e']
X[1:-1]

b    B
c    C
d    D
dtype: object

# Given the X pandas Series, show the elements in reverse position

In [32]:
X = pd.Series(['A', 'B', 'C', 'D', 'E'])
X[::-1]

4    E
3    D
2    C
1    B
0    A
dtype: object

# Given the X pandas Series, show the first and last elements

In [39]:
X = pd.Series(['A','B','C','D','E'],
              index=['first','second','third','forth','fifth'])
X[[0, -1]]

first    A
fifth    E
dtype: object

# Series manipulation
### Convert the given integer pandas Series to float

In [44]:
X = pd.Series([1,5,8,6,5])
print(X, type(X))
pd.Series(X, dtype = np.float32)

0    1
1    5
2    8
3    6
4    5
dtype: int64 <class 'pandas.core.series.Series'>

0    1.0
1    5.0
2    8.0
3    6.0
4    5.0
dtype: float32

# Reverse the given pandas Series (first element becomes last)

In [45]:
X = pd.Series([1,5,8,6,5])
X[::-1]

4    5
3    6
2    8
1    5
0    1
dtype: int64

# Order (sort) the given pandas Series

In [47]:
X = pd.Series([1,5,8,6,5])
X = X.sort_values()
X

0    1
1    5
4    5
3    6
2    8
dtype: int64

# Given the X pandas Series, set the fifth element equal to 10

In [48]:
X = pd.Series([1,5,8,6,5])
X[4] = 10
X

0     1
1     5
2     8
3     6
4    10
dtype: int64

# Given the X pandas Series, change all the middle elements to 0

In [54]:
X = pd.Series([1,5,8,6,5])
X[1:-1]=0
X

0    1
1    0
2    0
3    0
4    5
dtype: int64

# Given the X pandas Series, add 5 to every element

In [57]:
X = pd.Series([1,5,8,6,5])
X = X+5
X

0     6
1    10
2    13
3    11
4    10
dtype: int64


# Series boolean arrays (also called masks)


## Given the X pandas Series, make a mask showing negative elements

In [66]:
X = pd.Series([1,-5,8,-6,5])
mask = X<0
mask

0    False
1     True
2    False
3     True
4    False
dtype: bool

# Given the X pandas Series, get the negative elements

In [65]:
X = pd.Series([1,-5,8,-6,5])
mask = X<=0
X[mask]

1   -5
3   -6
dtype: int64

In [63]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

mask = X <= 0
X[mask]

0   -1
2    0
3   -4
6    0
7    0
8   -9
dtype: int64

# Given the X pandas Series, get numbers higher than 5

In [68]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])
mask = X>=5
X[mask]

4     5
5     6
9    10
dtype: int64

# Given the X pandas Series, get numbers higher than the elements mean

In [70]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

mask = X > X.mean()
X[mask]

1     2
4     5
5     6
9    10
dtype: int64

# Given the X pandas Series, get numbers equal to 2 or 10

In [74]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])
mask = (X==2) | (X==10)
X[mask]

1     2
9    10
dtype: int64

# Logic functions
### Given the X pandas Series, return True if none of its elements is zero

In [76]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])
X.all()

False

### Given the X pandas Series, return True if any of its elements is zero

In [77]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])
X.any()

True

# Summary statistics

### Given the X pandas Series, show the sum of its elements

In [78]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])
X.sum()

9

### Given the X pandas Series, show the mean value of its elements

In [79]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])
X.mean()

0.9

### Given the X pandas Series, show the max value of its elements

In [80]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])
X.max()

10